export COIN_DB_PATH="${HOME}/data/biodata"

# These are secrets
export COIN_SESSION_ENV_KEY="" # Replace
export LITESTREAM_ACCESS_KEY_ID="" # Replace
export LITESTREAM_SECRET_ACCESS_KEY="" # Replace
export LITESTREAM_BUCKET="" # Replace
export LITESTREAM_ENDPOINT="" # Replace
